{% extends 'resume/base.html' %}
{% load static %}
{% block content %}	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Najeeb Khan</h1>
					<h3>Undergrad @ JMI-FET | najeeb.khan96@gmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p>I am an undergraduate student at the Department Of Computer Engineering, Jamia Millia Islamia (A central university by an act of parliament). I am a machine learning practitioner and loves playing with datasets. My specific interests include Deep Learning and Visualization. I also blog @ <a href="najeeb97khan.github.io">najeeb97khan.gihub.io</a></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Bachelor Of Technology</t><br/>
						Jamia Millia Islamia <br/>
						<i>4 Years Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>GRADUATING IN MAY 2018</sm><br/>
					<imp><sm>IN PROGRESS</sm></imp>
					</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Class XII @ Jamia Senior Secondary School</t><br/>
						Jamia Millia Islamia<br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>JUNE 2014</sm></p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>PROJECTS</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Center For Innovation And Entrepreneurship</t><br/>
						Jamia Millia Islamia<br/>
					</p>
					<p><more>Research project aimed at developing an automatic tweet generator based on Abstractive Summarisation technique and Deep Learning Models. Repository for the project can be found at <a href='https://github.com/najeeb97khan/mynz_jmi'>https://github.com/najeeb97khan/mynz_jmi</a></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>JUNE 2016</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Extractive Summarisation Using Information Diffusion Model</t><br/>
					</p>
					<p><more>Research project aimed at using Information Diffusion model to increase the effectiveness and quality of summarisation. Repository for the above can be found at <a href='https://github.com/najeeb97khan/ShapSum'>https://github.com/najeeb97khan/ShapSum</a></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>AUGUST 2016</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Leaf Classification Through Deep Learning</t><br/>
					</p>
					<p><more>Kaggle Competition for classifying different species of leaves based on their features such as margin width, length etc. Currently in top 20 percentile on the global leaderboard.
					Repository can be found at <a href='https://github.com/najeeb97khan/Kaggle/tree/master/Leaf%20Classification'> https://github.com/najeeb97khan/Kaggle/tree/master/Leaf%20Classification</a>
					<br/>Technologies Used : Neural Networks, Python programming
					</a></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>OCT 2016</sm></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Understanding Success Of Altruistic Requests (Random Acts Of Pizza)</t><br/>
					</p>
					<p><more>Understanding what contributes to the success of altruistic requests. Requests comes in various shapes and sizes and using machine learning models coupled with clever feature engineering it is possible to both predict and get a sense of what constitutes for a successful request in a social community <a href='https://github.com/najeeb97khan/Random_Acts_Of_Pizza'> https://github.com/najeeb97khan/Random_Acts_Of_Pizza</a>
					<br/>Technologies Used : Machine learning models, Python programming, Random Acts Of Pizza dataset.
					</a></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>DEC 2016 - CURRENT</sm></p>
				</div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->


	<!--EXPERIENCE DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>EXPERIENCE</h5>
				</div>
				<div class="col-lg-6">
					<p><t>PROJECT LEAD</t><br/>
						Center for Innovation and Entrepreneurship <br/>
						<more>Project Lead for a research based project aimed at developing attention model to generate syntactically and semantically valid tweets in real time. The project used various tools and applications of Natural Language Processing (NLP) and Deep Learning</more>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>AUGUST 2016</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Instructor</t><br/>
						SCONJ Hour Of Code
					</p>
					<p><more>Hour of Code is an initiative by a group of machine learning enthusiasts at Department Of Computer Science and Engineering, Jamia Millia Islamia. It aims towards spreading knowledge about one of the most intriguing fields of Computer Science i.e. Machine Learning and Artificial Intelligence in general.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2013</sm></p>
				</div>
		
		</div><!--/.row -->
		<br>
	</div><!--/.container -->
	
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p>Python Programming</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>Machine Learning Concepts</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="wordpress" height="130" width="130"></canvas>
						<p>Statistical Learning</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>Data Structures and Algorithms</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 40,
										color:"#1abc9c"
									},
									{
										value : 60,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="photoshop" height="130" width="130"></canvas>
						<p>Deep Learning</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 40,
										color:"#1abc9c"
									},
									{
										value : 60,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="illustrator" height="130" width="130"></canvas>
						<p>Data Visualisation</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 50,
										color:"#1abc9c"
									},
									{
										value : 50,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("illustrator").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>BLOGS</h5>
				</div>
				<div class="col-lg-6">
					<p><img class="img-responsive" src="{% static 'resume/img/port01.jpg' %}" alt=""></p>
				</div>
				<div class="col-lg-3">
					<p>GETTING STARTED WITH NEURAL NETWORKS</p>
				<p><more>I have written a blog for beginners describing explicitly how to get started with Neural Networks using Python binded with Keras as a Neural Networks package. The blog gives an insight into solving and approacgin problems on Kaggle Inc. which hosts competitions over large datasets. Give it a try at: <br/><a href='http://najeeb97khan.github.io/started'>najeeb97khan.github.io/started</a><br/><br/>
					<sm><i class="icon-tag"></i> design</sm></more> 
				</p>
				</div>
		
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
{% endblock %}